@import url(https://fonts.googleapis.co/css?family=montserrat:600,400,300);

.shadow-custom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.frame {
    border-radius: 3px;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#413951', endColorstr='#201c29', GradientType=0);
    font-family: 'montserrat', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headline {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.circle-big {
    position: relative;
    width: 114px;
    height: 114px;
    margin: 30px auto 25px auto;
}

.circle-big svg {
    width: 114px;
    height: 114px;
}

.circle-big .bg {
    fill: none;
    stroke-width: 3px;
    stroke: #f5f2f5;
}

.circle-big .progress {
    fill: none;
    stroke-width: 3px;
    stroke: #3e64ffd4;
    stroke-linecap: round;
    stroke-dashoffset: 60;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-in-out;
}

.circle-big .progress1 {
    stroke-dasharray: 317.56;
}

.circle-big .progress2 {
    stroke-dasharray: 297.56;
}

.circle-big .progress3 {
    stroke-dasharray: 326.56;
}

.circle-big .text {
    position: absolute;
    width: 100%;
    top: 43%;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    line-height: 22px;
}

/* progress */

.task-progress {
    margin: 0.2rem 0;
}

.task-progress p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #525252;
    font-size: 3rem;
}

span {
    color: #525252;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;
    height: 0.6rem;
}

.progress::-webkit-progress-bar {
    background-color: #f0f0f0;
}

.progress::-webkit-progress-bar,
.progress::-webkit-progress-value {
    border-radius: 2px;
}

.progress::-moz-progress-bar {
    border-radius: 2px;
}

.progress1::-webkit-progress-value {
    background: #3e64ffd4;
}