.bg-color-first {
    background-color: #EBEFFF;
}

.bg-color-second {

    background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, rgb(28 137 210 / 0%) 53%, rgb(0 213 255 / 9%) 100%);
}

.letter-space {
    letter-spacing: 5px;
}

.name-letter-space {
    letter-spacing: 3px;
}

.square-text-color {
    color: #EBEFFF;
}


@keyframes move-up-down {

    0%,
    100% {
        transform: translateY(-1.5rem);
    }

    50% {
        transform: translateY(0);
    }
}

.animate-move-up-down {
    animation: move-up-down 2s infinite;
}

.left-arrow {
    left: 14.45rem;
}

@media only screen and (max-width: 425px) {
    .left-arrow {
        left: 9.60rem;
    }

    .text-5xl-custom {
        font-size: 48px;
    }
}

@media only screen and (max-width: 320px) {
    .left-arrow {
        left: 8.26rem;
    }
}

@media only screen and (max-width: 340px) {

    .text-5xl-custom {
        font-size: 40px;
    }
}