@tailwind base;
@tailwind components;
@tailwind utilities;

.common-text-color {
    color: #3E64FF;
}

.common-bg-color {
    background-color: #3E64FF;
}


html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgb(2 0 36 / 0%) 0%, rgb(28 137 210 / 17%) 53%, rgb(0 213 255 / 4%) 100%);
}